{% extends "base.html" %}
{% block title %} Patient Table {% endblock %}

{% block content %}
<table class="table table-striped">
    <thead class = "thead-dark">
        <tr>
            <th scope = "col">#</th>
            <th scope = "col">Patient Name</th>
            <th scope = "col">Patient ID</th>
            <th scope = "col">PhoneNo</th>
        </tr>
    </thead>
    <tbody>
    {% for row in rows %}
        <tr>
            <th scope = "row">#</th>
            <td>{{row['Name']}}</td>
            <td>{{row['ID']}}</td>
            <td>{{row['PhoneNo']}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}