{% extends "base.html" %}
{% block title %} Update Patient Details {% endblock %}

{% block content %}

<h5 class = "bg-info"> You can reschedule by pressing the update button. You can cancel appointment by pressing delete button</h5>
<form action = "{{url_for('views.changePat')}}" method="POST">
    <div class = "form-group">
        <label for = "Pname"> Enter Patient Name <input type = "text" name = "randbox" id = "Pname"> </label>
    </div>
    <div class = "form-group">
        <label for = "Pnum"> Enter PhoneNo <input type = "text" name = "changebox" id = "Pnum" style = "margin: 10px"> </label>
    </div>
    <div class = "form-group">
        <input type="submit" value = "Update" class="btn btn-primary"> <br/>
    </div>
    <div class = "form-group">
        <input type="submit" value = "Delete" class="btn btn-primary">
    </div>
  </form>

{% endblock %}